@model BlogMVC.Models.Post
@using Westwind.AspNetCore.Markdown;
@{
    ViewData["Title"] = "Details";
}
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
<div class="container jumbotron">
    <div class="h1 text-center">@Html.DisplayFor(model => model.Title)</div>
    <div class="h6 text-center">@Html.DisplayFor(model => model.Created)</div>

    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Index" class="btn btn-primary mb-2">Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark mb-2">Edit</a>
        </div>
    }
    else
    {
        <a asp-action="Index" class="btn btn-primary mb-2">Back to List</a>
    }
    <p>@Markdown.ParseHtmlString(Model.Body)</p>
    </div>
